/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #f5e1c8;
  --text-color: #353430;
  --heading-color: #ff0070;
  --accent-color: #ff8dcb;
  --title-decor-color: #353430;
  --title-decor-bg: #ff8dcb;
  --link-color: #353430;
  --link-shadow-color: #ff8dcb;
  --corner-color: #ff0070;
  --rec-color: #ff0070;
  --btn-color: #ff0070;
  --btn-hover-border-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5e1c8;
    --text-color: #353430;
    --heading-color: #ff0070;
    --accent-color: #ff8dcb;
    --title-decor-color: #353430;
    --title-decor-bg: #ff8dcb;
    --link-color: #353430;
    --link-shadow-color: #ff8dcb;
    --corner-color: #ff0070;
    --rec-color: #ff0070;
    --btn-color: #ff0070;
    --btn-hover-border-color: rgba(255, 0, 112, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
