/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #000e2e;
  --accent-color: #ff8dcb;
  --title-decor-color: #353430;
  --title-decor-bg: #ff8dcb;
  --main-title-color: #ffc2e6;
  --main-title-shadow: 4px 4px 0 #ff8dcb;
  --footer-title-shadow: 2px 2px 0 #ff8dcb;
  --link-color: #353430;
  --link-shadow-color: #ff8dcb;
  --corner-color: #353430;
  --rec-color: #353430;
  --btn-color: #353430;
  --btn-hover-border-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --heading-color: #000e2e;
    --accent-color: #ff8dcb;
    --title-decor-color: #353430;
    --title-decor-bg: #ff8dcb;
    --main-title-color: #ffc2e6;
    --main-title-shadow: 4px 4px 0 #ff8dcb;
    --footer-title-shadow: 2px 2px 0 #ff8dcb;
    --link-color: #353430;
    --link-shadow-color: #ff8dcb;
    --corner-color: #353430;
    --rec-color: #353430;
    --btn-color: #353430;
    --btn-hover-border-color: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
